################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dynamic-Website/FileContentIndex/c56f5a56-536f-4b61-b625-4bba3b18c1ef.vsidx
